<div class="index-container">
    <img src="/images/beer.png" alt="beer image" class="image-index">
    <a href="http://localhost:3000/beers" class="beer-link"> Check the Beers! </a>
    <a href="http://localhost:3000/random-beer" class="beer-link"> Check a Random Beer </a>
</div>