<div class="beer-container">
    <% beerArr.forEach(beer => { %>
        <div class="beer-item">
            <%- include('./partials/beer.ejs', {beer}) %> 
            <p> <%- beer.food_pairing %> </p>
            <p> <%- beer.brewers_tips %> </p>
        </div>
    <% }) %>
</div>